:root {
  --header-height: 4rem;
}

body {
  color: var(--tui-text-01);
  background: var(--tui-base-01);
}

.container--margin {
  margin-top: var(--header-height);
}
.container--padding {
  padding: var(--tui-padding-l);
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: var(--tui-base-01);
}
